@{
    ViewBag.Title = "Home";
}

<div  style="font-size:120%">
    <h1 class="text-center">Image Web Store</h1>
    <p class="lead">OAuth is an open standard for authorization, commonly used as a way for Internet users to log in to third party websites using their Microsoft, Google, Facebook, Twitter, One Network etc. accounts without exposing their password.[1] Generally, OAuth provides to clients a "secure delegated access" to server resources on behalf of a resource owner. It specifies a process for resource owners to authorize third-party access to their server resources without sharing their credentials. Designed specifically to work with Hypertext Transfer Protocol (HTTP), OAuth essentially allows access tokens to be issued to third-party clients by an authorization server, with the approval of the resource owner. The third party then uses the access token to access the protected resources hosted by the resource server.</p>
     <p class="text-center">
        @Html.ActionLink("Register", "Register", "Home",routeValues:null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
 </p>
</div>
