@{
    ViewBag.Title = "Register";
}

<div style="font-size:120%">
    <h1 class="text-center">Image Web Store</h1>
    <h3>Registration successful, you may begin using client application once you receive your email verification</h3>
</div>
