/*****************************************global************************************************/
html, body {
    height: 100%;
}

.header{

}
.body{
   padding-top:60px;
    height: auto;
    min-height: 100%;
    padding-bottom:60px;
}
.body-content {
 
}

.footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 60px;
    margin-top: -60px;
}
input, select, textarea {
    max-width: 320px;
}
.btn
{
    min-width:120px;
}
.input-validation-error
{
    border:1px solid red;
}
/*****************************************register page***************************************/