<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BasePathOfApi" value="http://ec2-52-221-222-225.ap-southeast-1.compute.amazonaws.com:801/imagestore"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>